<main>
    <section id="hanterasamlingleft">
        <form id="mittForm" onsubmit="return false"> <!-- Mitt formul채r -->
          <input id="kommentarsinput" type="text" value="Skriv din kommentar h채r" onfocus="this.value='';" width="200px">
          <input id="addPosButton" class="buttonSize" type="button" value="Ny knapp">
          <input id="addKonstrButton" class="buttonSize" type="button" value="Ny knapp">
        </form>
    </section>

    <button id="clicker">Skicka JSON</button>

    
    
    
    <section id="spaceforbuttons">
        <h1 class="guide_one"><i class="fa fa-hand-o-up fa-4 digleft"></i>Skapa egna kommentarsknappar!</h1>
        <h1 class="guide_one_right">...eller ladda samling.<i class="fa fa-hand-o-up fa-4 digright"></i></h1>
    </section>
    
    <input id="empty" class="buttonSize" type="button" value="Rensa knappar">
    
    <output id="op">
    <h1 class="guide_two">H채r skapas din textmassa.</h1>
        <p id="opp"></p>
    </output>
    
    <button id="copyButton" class="buttonSize">Kopiera text</button>
    <button id="eraseButton" class="buttonSize">Ta bort text</button>
      
</main>

<aside>

<p>Bananpaj 3000</p>
<form method="GET" action="/comments/?">
    
    <select id="course_select" name="course-select">
    <% i = 0 %>
    <% for banan in kurser do%>
    <option value=<%= banan[0] %>><%= banan[1] %></option>
    <% i += 1 %>
    <% end %>
    </select>

    <select id="collection_select" name="collection-select">

    </select>

    <input type="submit" value="H채mta Samling"></input>

</form>

</aside>
