<aside class="savings">
    <section id="hanterasamlingar">
        <form method="GET" action="/comments/?">
        <label for="course_id">Kurs</label>
            
            <select id="course_select" name="course-select">
            <% i = 0 %>
            <% for banan in kurser do%>
            <option value=<%= banan[0] %>><%= banan[1] %></option>
            <% i += 1 %>
            <% end %>
            </select>
            <label for="collection_select">Samling</label>
            <select size="5" id="collection_select" name="collection-select">
            
        

            </select>

            <input type="submit" value="Hämta Samling" class="load"></input>
            <button id="clicker" class="save">Spara samling</button>
        </form>
    </section>
<nav><div class="icon_bg"><i class="fa fa-bars iconsize relpos"></i></div><p>Webtools / Fast Forward</p></nav>
    
</aside>

<main>
<!--popup-->
<div id="popup" class="hidden">
    
    <section id="hanterasamlingleft">
        <img src="/img/noun_317769_cc.svg" alt="close" id="killpopup">
    
        <form id="mittForm" onsubmit="return false"> <!-- Mitt formulär -->
          <textarea id="kommentarsinput" type="text" value="Skriv din kommentar här" onfocus="this.value='';"></textarea>
          <input id="addPosButton" class="buttonSize" type="button" value="Ny knapp">
          <input id="addKonstrButton" class="buttonSize" type="button" value="Ny knapp">
        </form>
    </section>
</div>

    <output id="op">
    <button id="copyButton" class="buttonSize" onclick="myCopyFunction()"><img id="clipboard" src="/img/noun_1243619_cc.svg" class="iconsize">KOPIERA TILL URKLIPP</button>
        <!--<h1 class="guide_two">Här skapas din textmassa.</h1>-->
        <%#comments = ""%>
        <%#if !comments%>
            <%#= "Inga comments"%>
            <%#else%>
            <%#= comments%>
        <%#end%>
            <!--<p id="opp"></p>-->
            <textarea id="opp"></textarea>
    </output>
    
    
    <button id="eraseButton" class="icon_bg"><img src="/img/noun_1399669_cc.svg" class="iconsize"></button>

    <section id="spaceforbuttons">
        <!--<h1 class="guide_one"><i class="fa fa-hand-o-up fa-4 digleft"></i>Skapa egna kommentarsknappar!</h1>-->
        <!--<h1 class="guide_one_right">...eller ladda samling.<i class="fa fa-hand-o-up fa-4 digright"></i></h1>-->
        <!--Iterera igenom nya knappar med classer a la javascript. Färgen måste komma med också... -->
        
        <div class="divknapp buttonmaker"><img id="plusicon" src="/img/noun_107257_cc.svg" alt="plus" id="killpopup"><p>Ny kommentar</p></div>



        <% for comment in comments do%>
        <% color = ""%>
            <%if comment[1] == "green"%>
                <%color = "bra"%>
                <%else%>
                <%color = "konstr"%>
            <% end %>
       <div class="divknapp <%= color %>"><button class="eraseThis" data-clicked="no"></button><p class="nytext"><%=comment[0]%></p></div>
        
        <% end %>
    </section>
    
    <!--<input id="empty" class="buttonSize" type="button" value="Rensa knappar">-->
    <!--<input id="empty" class="buttonSize icon_bg" type="button" value="Rensa knappar">-->
    <button id="empty" class="icon_bg"><img src="/img/noun_1399669_cc.svg" class="iconsize"></button>
    
      
</main>