/* min css jao*/
body {
	font-family: 'Fira Sans', sans-serif !important;
	font-weight:700;
	background-color:rgba(226,226,226,0.4);
	color:#5D5D5D;
	
}

/*Popup*/
#popup {
	width:100vw;
	height:100vh;
	background:rgba(0, 0, 0, 0.5);
	position: fixed;
	top:0;
	left:0;
	display:grid;
	justify-content: center;
	align-content: center;
	z-index: 100;
}

#hanterasamlingleft {
	width:60vw;
	height:50vh;
	background:white;
	position:relative;
}

#killpopup {
	position:absolute;
	top:15px;
	right:15px;
	width:35px;
}

#mittForm {
	width:100%;
	height:100%;
	
	
}



#kommentarsinput{
	width:100%;
	box-sizing: border-box;
	padding:4em;
	font-size:1.4em;
	font-family: 'Fira Sans', sans-serif !important;
	font-weight:500;
	color:grey;
	margin:0px;
	resize:none;
	height:90%;
	border:none;
	}

.hidden {
	display: none !important;
}

#addPosButton, #addKonstrButton{
	width:50%;
	height:10%;
	box-sizing:border-box;
	float:left;
	background:white;
	border-radius:0px;
	border:none;
	font-weight:300;
	color:#e65045;
	padding:10px;
	font-size:1.2em;
	border:1px dashed rgba(226,226,226,0.4);
	}
	
#addPosButton, #addKonstrButton {
	font-size:1.2em;
	box-sizing:border-box;
	
	
	}
#addPosButton {
	background:white;
		color:#45d89b;
		}




/* Aside */

.clear {
	clear:both;
	}

main {
	width:100%;
	

	}
aside.savings {
	/*width:400px;*/
	
	background:#5D5D5D;
	position:absolute;
	top:0;
	left:-100vw;
	/*right:-220px;*/
	z-index:10001;
	/*transition:all 0.3s linear;*/
	width:100vw;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
}

nav {
	box-sizing:border-box;
	height:auto;
	width:30vw;
	padding-left:10px;
	padding-top:10px;
	
	position:fixed;
	top:0px;
	left:0px;

	}

nav p {
	padding:5px 0px 5px 30px;
	margin:5px 0 0 20px;
}


	
.open {
	position:absolute;
	left:0px !important;
	/*right:0px !important;*/
	background:#5D5D5D !important;
	/*transition:all 0s linear;*/
}



#hanterasamlingar {
/*height:50px;*/
	float:right;
	/*background:white;*/
	padding:10px;
	border-radius:3px 0 0 3px;
	}

#hanterasamlingar {
	width:200px;
	font-size:0.8em;
	}

#hanterasamlingar form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
	
#hanterasamlingleft {
	border-radius: 0 3px 3px 0 ;
	float:left;
	/*border:1px #329fd8 dotted;*/
	}

img {
	width:34px;
	color:red;
	z-index:1000;
}

.relpos {
	position:absolute;
}

.iconsize {
	font-size:1em;
	color:black;
	}



/*selects*/

label {
	color:white;
	margin-top:15px;
	text-transform:uppercase;
}

select{
	padding:10px;
	font-size:1.2em;
	font-family: 'Fira Sans', sans-serif !important;
	font-weight:300;
	color:#5D5D5D;
	border:3px solid #5D5D5D;
	margin:0px;
	outline:0;
	}

/* mina knappar*/

button:focus {
	outline:0;
}


.floatleft {
	display:block;
	
}

.divknapp {
	/*height:100px;*/
	/*width:112px;*/
	width:10%;
	background:white;
	margin:2px;
	/*text-align:center;*/
	padding:5px;
	border-radius:3px;
	float:left;
	position:relative;
	font-size:0.85em;
	height:81px;
	overflow:hidden;
	border: 1px dotted rgba(226,226,226,0.4);
	
	}

.divknapp p {
	overflow-wrap: break-word;
  word-wrap: break-word;
}

.buttonmaker {
	border:1px dotted darkgrey;
	background:lightgrey;
	width:10%;
	font-size:0.85em;
	height:81px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}

.buttonmaker p {
	margin:0px;
}
	

	
.divknapp:hover {
	background:rgba(243,238,238,1);
	overflow:visible;
	
	
	
}

.divknapp:active {
	background:rgba(243,238,238,0.95);
}



 #copyButton {
	-webkit-border-radius:100px;
	border-radius:100px;
	border:none;
	font-weight:500;
	position:absolute;
	z-index:200;
	bottom:40%;
	right:30%;
	width:40%;
	
	font-size:1.2em;
	padding: 10px 15px;
	background:white;
	color:#5D5D5D;
	font-size:1.2em;
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin-top:50px;
	

}

#clipboard {
	margin-right:10px;
}

#eraseButton {
	-webkit-border-radius:100px;
	border-radius:1000px;
	float:right;
	margin-top:10px;
	display: flex;
	justify-content:center;
	align-items:center;

	}

 #copyButton:hover, #addPosButton:hover {
	background:#5D5D5D;
	color:white;

}

#eraseButton:hover, #addKonstrButton:hover, #empty:hover {
	color:white ;
	background:#5D5D5D;;
}




#eraseButton, #empty {
	background:white;
	color:#5D5D5D;
	font-size:1.2em;
	border:none;
	
	}

#empty {
	color:#e65045;
	background:white;
	display:block;
	float:right;
	margin-bottom:10px;
	display: flex;
	justify-content:center;
	align-items:center;
	}	
	
.eraseThis {
	position:absolute;
	top:2px;
	right:2px;
	border:none;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:100;
	height:12px;
	width:10px;
	/*opacity:0.3;*/
}
.eraseThis:hover {
	background:#e65045;

}

.save, .load {
	float:left;
	background:#5D5D5D;
	border-radius:0px;
	border:none;
	font-weight:400;
	color:white;
	font-size:1.2em;
	padding:10px;
	border:1px solid #ffffff;
	margin-top:25px;
	
	}
	
.save:hover, .load:hover {
	background:white;
	color:black;
	}
    
.bra {
    border-bottom:solid 5px #45d89b;
}

.konstr {
    border-bottom:solid 5px  #e65045;
}


/*Min output*/

#op {
	width:100%;
	min-height:200px;
	background:rgba(226,226,226,0.4);
	display:block;
	border:black 1px solid;
	border-radius:10px;
	/*clear:both;*/
	padding:5px;
	border:none;
	-webkit-border-radius:10px;
	border-radius:10px;
	overflow:hidden;
	margin:auto;
	margin-top:80px;
	position:relative;
}

#opp {
	outline: none;
	width:100%;
	height:100%;
}



#extraop{
	width:75%;
	height:400px;
	background:rgba(226,226,226,1.00);
	display:block;
	border:black 1px solid;
	border-radius:10px;
	clear:both;
	padding:5px;
}
/*spaceforbutton*/

#spaceforbuttons {
	width:100%;
	min-height:100px;
	background:rgba(226,226,226,0.4);
	padding:5px;
	float:left;
	margin-bottom:10px;
	margin-top:40px;
	position:relative;
	
	
	}
	
/*Startup tutorial*/
.guide_one, .guide_two {
	position:absolute;
	top:20px;
	left:10%;
	z-index:-2;
	font-size:1.5em !important;
	color:rgba(50, 159, 216, 0);
	
	}
	
.guide_one	{
	-webkit-animation:bluetutorial 9s 1s linear;
	-moz-animation:bluetutorial 9s 1s linear;
	-ms-animation:bluetutorial 9s 1s linear;
	-o-animation:bluetutorial 9s 1s linear;
	animation:bluetutorial 9s 1s linear;
}
	

	
.guide_one_right {
	position:absolute;
	top:20px;
	right:10%;
	z-index:-2;
	font-size:1.5em !important;
	color:rgba(50, 159, 216, 0);
	-webkit-animation:bluetutorial 7s 3s linear;
	-moz-animation:bluetutorial 7s 3s linear;
	-ms-animation:bluetutorial 7s 3s linear;
	-o-animation:bluetutorial 7s 3s linear;
	animation:bluetutorial 7s 3s linear;
	}
	
.guide_two {
	color:rgba(69, 216, 155, 0);
	left:40%;
	-webkit-animation:bluetutorial 5s 5s linear;
	-moz-animation:bluetutorial 5s 5s linear;
	-ms-animation:bluetutorial 5s 5s linear;
	-o-animation:bluetutorial 5s 5s linear;
	animation:bluetutorial 5s 5s linear;
	}


/*ICONER*/

.fa-floppy-o, .fa-bars {
color:#5D5D5D;

}

.icon_bg {
	border-radius: 200px;
	background:white;
	width:40px;
	height:40px;
	float:left;
	display:flex;
	justify-content:center;
	align-items:center;
}

		
/* Guide animation + media queries*/

@media screen and (max-width:767px) {
	.divknapp {
		width:20%;
		}
	}
	
@-webkit-keyframes bluetutorial {
	0% {color:rgba(50, 159, 216, 0);}
	10% {color:rgba(50, 159, 216, 0.9);}
	95% {color:rgba(50, 159, 216, 0.9);}
	100% {color:rgba(50, 159, 216, 0);}
	}
	
@-moz-keyframes bluetutorial {
	0% {color:rgba(50, 159, 216, 0);}
	10% {color:rgba(50, 159, 216, 0.9);}
	95% {color:rgba(50, 159, 216, 0.9);}
	100% {color:rgba(50, 159, 216, 0);}
	}
	
/*@-ms-keyframes bluetutorial {
	0% {color:rgba(50, 159, 216, 0);}
	10% {color:rgba(50, 159, 216, 0.9);}
	95% {color:rgba(50, 159, 216, 0.9);}
	100% {color:rgba(50, 159, 216, 0);}
	}*/
	
@-o-keyframes bluetutorial {
	0% {color:rgba(50, 159, 216, 0);}
	10% {color:rgba(50, 159, 216, 0.9);}
	95% {color:rgba(50, 159, 216, 0.9);}
	100% {color:rgba(50, 159, 216, 0);}
	}
	
@keyframes bluetutorial {
	0% {color:rgba(50, 159, 216, 0);}
	10% {color:rgba(50, 159, 216, 0.9);}
	95% {color:rgba(50, 159, 216, 0.9);}
	100% {color:rgba(50, 159, 216, 0);}
	}